a{
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul > li{
	border: solid 1px black;
	margin: 10px;
	padding: 5px;
	border-radius:4px;
}

button{	
	font-size : 12px;
	margin: 10px 210px 20px 210px;
}

#allwrap{
	position: relative;
	border: solid 1px black;
	padding : 10px;
	width: 500px;
	height: auto;
	border-radius:4px;
}

#text{
	position:absolute;
	left: 170px;
		font-size : 15px;
}