<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="allwrap">
        <form class="new-task" onsubmit="return false">
        <input type="text" id="text" onKeyDown="onKeyDown()" placeholder="검색하세요"> <br>
        </form>
        <button id="search">검색</button>
        <ul id="wrap">

        </ul>
    </div>

    <script type="text/template" id="searchTemp">

        <%  
        if(list.length==0){alert("검색결과가 없습니다.")}
        for(var i=0; i<list.length; i++){
        var searchList = list[i];
        var result = whatsearch.bold();
        var title_split = searchList.title.split(whatsearch);
        %>
        <li>
            <a href="<%=searchList.link%>" title = "페이지 이동">
                <%=title_split[0]+result+title_split[1]%>
            </a>
        </li>
        <% } %>
    </script>

    <!-- <script src="../ajax.js"></script> -->
    <script src="jsonp.js"></script>
    <script src="template.js"></script>
    <script src="app.js"></script>
</body>
</html>